<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>
        <div class="container">
                <h1>Hello, {{ user.name }}!</h1>
                <a href="/logout">Logout</a>
                <h2>Here are your appointments for today, {{ today }}</h2>            
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th>Tasks</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                        {% for appointment in appointments_future %}
                        <tr>
                            <td>{{ appointment.name }}</td>
                            <td>{{ appointment.date }}</td>
                            <td>{{ appointment.time }}</td>
                            {% if appointment.status == 'Pending' %}
                            <td> <a href="/edit/{{ appointment.id }}">Edit</a> <a href="/delete/{{ appointment.id }}">Delete</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
              </div>
    <div class="container">
            <h2>Your Other appointments:</h2>         
            <table class="table table-bordered">
              <thead>
                <tr>
                    <th>Tasks</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
              </thead>
              <tbody>
                    {% for appointment in appointments_future %}
                    <tr>
                        <td>{{ appointment.name }}</td>
                        <td>{{ appointment.date }}</td>
                        <td>{{ appointment.time }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <h2>Add Appointment:</h2>
                <form action="/add_appointment" method="post" class="form-horizontal">
                    {% csrf_token %}
                        <div class="form-group">
                          <label for="date">Date:</label>
                          <input type="date" name="date" id="date">
                        </div>
                        <div class="form-group">
                          <label for="time">Time:</label>
                          <input type="time" name="time" id="time">
                        </div>
                        <div class="form-group">
                          <label for="name">Tasks:</label>
                          <input type="text" name="name" id="name">
                        </div>
                        <button>Add</button>
                      </form>
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>
                        <h2>{{ message }}</h2>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
          </div>
</body>

</html>